body {
  font-family: "poppins";
  margin: 0;
  background-color: #4f8a9d;
  color: white;
}

.topnav {
  background-color: #4f8a9d;
  position:relative;
  text-align: right;
  padding: 12px;
  margin-right: 10px;
  word-spacing: 15px;
}

.topnavlogo {
  position: absolute;
  left: 0;
  margin-left: 20px;
  margin-top: 15px;
  width: 120px;
}

.dropbtn {
  background-color: #2c515d;
  border-radius: 25px;
  border-color: transparent;
  border-style:solid;
  height: 50px;
  width: 120px;
  min-width: 100px;
  box-shadow: 2px 2px 5px #345763;
  margin-top:10px;
  margin-bottom:10px;
  font-size: large;
  text-align: center;
  color: white;
  font-family: "bangers";
  text-decoration: none;
  letter-spacing: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right:5%
}
@media only screen and (min-width: 768px){.dropdown {
  display:none
}}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  background-color: #203e48;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #335f6e;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #335f6e;
  border-color: #203e48;
  }

@media only screen and (max-width: 768px){.topnav_button, .active_button {
  display:none
}}
.topnav_button{
  background-color: #2c515d;
  border-radius: 25px;
  border-color: transparent;
  border-style: solid;
  height: 50px;
  width: 120px;
  min-width: 100px;
  box-shadow: 2px 2px 5px #345763;
}

.horizontal_center{
text-align:center;
}

.listen_now_button {
  background-color: #2c515d;
  border-radius: 25px;
  border-color: transparent;
  border-style:solid;
  height: 50px;
  width: 120px;
  min-width: 100px;
  box-shadow: 2px 2px 5px #345763;
  margin-top:5%;
}
@media only screen and (min-width: 768px){.listen_now_button{
  margin:0px
  
}}

.topnav_button:hover, .listen_now_button:hover, .menu_dropdown:hover, active_button:hover{
  background-color: #335f6e;
  border-color: #203e48;
}

a {
  font-size: large;
  text-align: center;
  color: white;
  font-family: "bangers";
  text-decoration: none;
  letter-spacing: 2px;
}

.topnavlogo:hover {
  position: fixed;
  left: 0;
  margin-left: 18px;
  margin-top: 12px;
  width: 140px;
  transform: rotate(5deg)
}

.main_header {
  text-align: center;
  background-image: url(https://res.cloudinary.com/outlandish/image/upload/v1651579166/Branding/outlandish_background%20artwork_mobile.png);
  object-fit: contain;
  background-repeat: no-repeat;
  max-height:175px;
  background-size: 100%;
  padding: 75px;
  color: white;
  text-shadow: 2px 2px 2px grey;
  font-size: x-large;
  font-family: "bangers";
  font-size: x-large;
  letter-spacing: 2px; 
  background-position: center;
}
@media only screen and (min-width: 768px) {.main_header {
  text-align: center;
  background-image: url(https://res.cloudinary.com/outlandish/image/upload/v1651579163/Branding/outlandish_background%20artwork.png);
  object-fit: cover;
  background-repeat: no-repeat;
  padding: 150px;
  color: white;
  text-shadow: 2px 2px 2px grey;
  font-size: x-large;
  background-position: top;
  font-family: "bangers";
  font-size: xx-large;
  letter-spacing: 2px;
}}

.ep-chris-bradley-header {
  text-align: center;
  background-image: url(https://res.cloudinary.com/outlandish/image/upload/v1652433968/Episodes/Chris%20Bradley/outlandish_bg_mobile_chris_bradley.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 65px;
  color: white;
  text-shadow: 2px 2px 2px grey;
  font-size: x-large;
  font-family: "bangers";
  font-size: x-large;
  letter-spacing: 2px; 
  background-size: cover;
}
@media only screen and (min-width: 768px) {.ep-chris-bradley-header {
  text-align:auto;
  height: auto;
  background-image: url(https://res.cloudinary.com/outlandish/image/upload/v1652434201/Episodes/Chris%20Bradley/outlandish_bg_chris_bradley.png);
  object-fit: cover;
  background-repeat: no-repeat;
  padding:150px;
  color: white;
  text-shadow: 2px 2px 2px grey;
  font-size: x-large;
  font-family: "bangers";
  font-size: xx-large;
  letter-spacing: 2px;
  background-size: cover;
}}

.rss{
  margin-left:5%;
  margin-right:5%;
  background-color:#63acc4
}

.title{text-align: center;
  font-family: 'Bangers';
}

.mainlogo {
  max-width: 400px;
  min-width: 200px;
  position: sticky;
}


.container {
  margin: auto;
  padding-top: 5%;
  width: 70%;
  box-sizing: border-box;
  min-height: 350px;
}@media only screen and (min-width: 768px) {.container {
margin:auto;
padding-top: 5%;
width: 45%;
box-sizing: border-box;
min-height: 350px
}}

.box{
  background-color: #63acc4; 
  border-radius: 10px;
  margin-top:25px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom:15px;
  padding:3%;
  width: 75%;
  max-width: 800px;
  font-size: small;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px #345763;
}


@media only screen and (min-width: 768px) {.centre_align{
  display: flex;
  margin:0;
  padding:0;
  align-items: center;
}}

.box_text_container{
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5%;
}@media only screen and (min-width: 768px){.box_text_container{
  width: 60%;
  margin-bottom: 5%;
}}

.box_text{
  text-align: left;}
@media only screen and (min-width: 768px){.box_text
  {text-align:left;
  font-size: medium;}}


.headshot{
  width:120px;
  border-radius: 120px;
  box-shadow: 2px 2px 5px #345763;
  margin-left: 33%;
  margin-right:33%;
  margin-bottom:5%;
} @media only screen and (min-width: 768px) {.headshot{
  width:200px;
  border-radius: 200px;
  box-shadow: 2px 2px 5px #345763;
  margin-left:20%;
  margin-right:10px
}}

.footer {
  background-color: #4f8a9d;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 85px;
  padding-left: 15%;
  padding-right:15%;
  text-align: center;
}

.social_icon {
  width: 35px;
  padding: 25px;
}

.copyright {
  color: white;
  font-size: small;
  text-align: center;
}
